#include <windows.h>
#include <commctrl.h>


#ifdef _WIN32
LANGUAGE 0x04, SUBLANG_DEFAULT
#pragma code_page(936)
#endif


12656 DIALOGEX 0,0,332,217
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	DEFPUSHBUTTON	"下一步(&N) >",1,215,190,50,14,WS_GROUP
	PUSHBUTTON	"浏览(&R)...",1304,262,64,50,12,WS_GROUP
	CONTROL		"x86",501,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE | WS_TABSTOP | WS_GROUP,23,113,32,12
	CONTROL		"x64",502,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,23,132,32,12
	PUSHBUTTON	"< 上一步(&B)",12,166,190,50,14
	PUSHBUTTON	"取消",2,272,190,50,14
	LTEXT		"单击选择NX的安装类型。",1305,18,96,298,15,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	LTEXT		"x86版本，windown 32位编译版本",1306,71,115,240,12,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"x64位，windows 64位编译版本",1307,71,137,240,17,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"c:\\path\\company\\product",1308,24,65,226,19,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"",52,0,0,332,36
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_DISABLED | WS_GROUP,42,170,288,1
	LTEXT		"",7,2,180,330,10,NOT WS_VISIBLE
	LTEXT		"NX类型",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"选择NX7.5的安装路径和类型。",51,16,15,213,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	GROUPBOX	"NX安装路径",1302,16,54,298,35,NOT WS_TABSTOP | 0x40000000
	PUSHBUTTON	"C",101,42,190,21,14,NOT WS_TABSTOP | NOT WS_VISIBLE
END


